.edit-container {
    display: none;
}

.edit-container.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 15px 0;
    width: 95%;
}

.edit-input {
    padding: 5px;
    width: 100%;  
}

.icon-edit {
    width: auto;
    height: 100%;
}

.edit-btn {
    background-color: #fa8c16;
    border: none;
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 0 0 15px 0;
    cursor: pointer;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
