.sidebar {
    width: 31%;
}

@media (max-width: 990px) {
  
    .sidebar {
        position: fixed;
        z-index: 101;
        top: 71px;
        right: 0;
        bottom: 0;
        background: #fff;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
        padding: 30px;
        transform: translateX(100%);
        transition: transform 0.2s;
        width: 100%;
        max-width: 320px;
        overflow-y: auto;
    }
  
    .sidebar.visible {
        transform: translateX(0);
    }
    
}
  
@media (max-width: 576px) {
        
    .sidebar {
        max-width: 260px;
    }

}