
.header-nav {
    margin: 0 auto 0 60px;
}

.header-menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-item {
    margin: 0 15px 0 0;
    font-size: 14px;
}

@media (max-width: 990px) {

    .header-nav {
        display: none;
    }

}